In [1]:
import pandas as pd

In [13]:
df = pd.read_csv('../data/raw/HourlyAQ_data.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 157806 entries, 0 to 157805
Data columns (total 11 columns):
Unnamed: 0      157806 non-null int64
Unnamed: 0.1    157806 non-null int64
date            157806 non-null object
time            157806 non-null object
aqsid           157806 non-null int64
site            157806 non-null object
gmtoffset       157806 non-null float64
parameter       157806 non-null object
units           157806 non-null object
value           157806 non-null float64
source          157806 non-null object
dtypes: float64(2), int64(3), object(6)
memory usage: 13.2+ MB

In [14]:
df = df.drop(df.columns[[0, 1, 4, 6, 10]], axis=1)
df.head()

       date   time            site parameter  units  value
0  08/28/19  13:00    Bronx - IS52     OZONE    PPB   18.0
1  08/28/19  13:00    Bronx - IS52      PM10  UG/M3   17.0
2  08/28/19  13:00    Bronx - IS74     PM2.5  UG/M3    2.7
3  08/28/19  13:00      Pfizer Lab     OZONE    PPB   20.0
4  08/28/19  13:00  Bklyn - PS 314     PM2.5  UG/M3    5.7

In [30]:
df_sum = df.groupby(['date', 'parameter', 'units']).agg({'value':['min', 'mean', 'max', 'std']})
df_sum.columns = ["_".join(x) for x in df_sum.columns.ravel()]
df_sum.head()

                          value_min  value_mean  value_max  value_std
date     parameter units
01/01/18 OZONE     PPB         23.0   28.770833       34.0   2.804054
         PM10      UG/M3       -1.0    7.958333       16.0   3.983435
         PM2.5     UG/M3       -3.5    6.870330       14.7   3.683740
01/01/19 OZONE     PPB          0.0   18.458333       49.0   9.410986
         PM10      UG/M3        2.0    9.041667       28.0   5.645153

In [31]:
df_sum.to_csv('../data/preprocessed/DailyAQ_data.csv')